<div class="container pt-5 pb-5 rounded">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Inserted HTML</h3>
            <p class="text-center">
                Welcome to my first htmx + GoLang app. In the beginning, main idea was
                to create web server from ground up, which is achieved. Second, application
                should be web scraper, which it is, is retrieves data from distant API 
                successfully. Every functionality is tested, app is dockerized, 
                CI/CD pipeline is working, app is serving on criptology.fly.dev.
                Now, what is the point of all of this? What is the purpose of the app?
            </p>
        </div>
    </div>
</div>
